<div class="editor">
    <div class="player-container" ng-mousemove="mouseTracker($event)">
        <div class="player-overlay" ng-click="pause()"></div>
        <div id="player"></div>
        <div is-draggable class="card animated">
            <div class="card-emoji" style="background-color: {{emojiBgColor}}">{{selectedEmoji | colonToCode}}</div>
            <div class="card-settings animated">
              <div>TEXT<div class="card-close" ng-click="closeCard()">x</div></div>
              <input type="text" ng-model="currentText" class="current-text" placeholder="Lorem ipsum sit amet...">
              COLOR<br>
              <ul class="colorList">
                <li ng-repeat="color in colorList" style="background-color: {{color}}" ng-click="colorSelect(color)"></li>
              </ul>
              EMOJI<br>
              <div class="card-settings-emojipicker"></div>
              <div class="card-buttons">
                <button class="btn btn-danger-outline" ng-click="deleteCard()"><i class="fa fa-trash"></i></button>
                <button class="btn btn-success-outline" ng-click="saveCard()"><i class="fa fa-floppy-o"></i></button>
              </div>
            </div>
            <div emoji-form emoji-message="emojiMessage">
                <textarea id="messageInput"></textarea>
            </div>
            <input type="hidden" class="card-emoji-input"></input>
            <div class="card-text">{{currentText}}</div>
        </div>
    </div>
    <div class="sidebar large">
        <div class="sidebar-content" ng-repeat="card in cardIndex">
            <div class="sidebar-card animated" ng-click="displayCard(card)">
              <div class="sidebar-card-emoji" style="background-color: {{card.bg}}">{{card.emoji | colonToCode}}</div>
              <div class="sidebar-card-text">{{card.text}}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade intro" class="intro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Popupvid.io Editor</h4>
      </div>
      <div class="modal-body">
        Welcome to the editor. Click anywhere within the video to pause and insert a comment. The sidebar on the right will allow you to review your comments and save your edit.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok, got it!</button>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <h1>popupvid.io</h1><br>
            <input type="text" ng-model="url" url-input class="form-control form-inline urlInput" placeholder="enter youtube url">
            <div class="col-md-6 col-md-offset-3"></div>
        </div>
    </div>
</div>
