body {
    padding-top:30px;
    background: #222;
    overflow-x: hidden;
}
body, h1 {
    font-family: 'Varela Round', sans-serif;
}

// HOMEPAGE
.jumbotron {
    background: #444;
    color: #999;

    input {
        background: #555;
        border-color: #666;

        &:focus {
            border-color: #999;
            color: #999;
        }
    }

}

// EDITOR WINDOW
.editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    display: flex;
    align-items: center;

    .player-container {
        position: relative;
        height: 0;
        width: 100%;
        max-height: 100%;

        .player-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height:100%;
            width: 100%;
            z-index:10;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

// SIDEBAR PANEL
.sidebar {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: -299px;
    width: 300px;
    margin-top: 20px;
    background-color: rgba(85,85,85,0.7);
    border-left: 1px solid #555;
    z-index:15;
    transition: right 0.2s ease-in;

    &.small {
        right: -260px;
    }

    &.large {
        right: 0px;

        .sidebar-card:hover {
            max-height: 100px;
        }
    }
    .sidebar-card {
        vertical-align: top;
        padding: 5px 0 2px;
        background: rgba(255,255,255,0.1);
        border-bottom: 1px solid #666;
        max-height: 43px;
        overflow: hidden;
        transition: max-height 0.2s;

        .sidebar-card-emoji {
            font-size: 29px;
            background: green;
            display: block;
            height: 34px;
            width: 34px;
            border: 3px solid white;
            border-radius: 30px;
            line-height: 30px;
            overflow: hidden;
            margin-left: 3px;
            float: left;
        }
        .sidebar-card-text {
            color: white;
            font-size: 12px;
            display: inline-block;
            width: 235px;
            padding-left: 5px;
        }
    }

    .sidebar-adjust {
        position: absolute;
        background-color: rgba(85,85,85,0.7);
        border-radius: 5px 0 0 5px;
        top: 50%;
        height: 52px;
        z-index: 100;
        width: 15px;
        text-align: center;
        color: #ccc;
        left: -15px;
        border: 1px solid #555;
        cursor: pointer;
        font-size: 16px;

        .disabled {
            color: #666;
        }
        .larger {
            border-bottom: 1px solid #555;
        }
    }
}

// CARD
.card {
    position: absolute;
    z-index: 12;
    height: 62px;
    width: 300px;
    top: 0px;
    right: 0px;
    border: 5px solid white;
    border-radius: 31px;
    background: black;
    visibility: hidden;

    .card-emoji {
        font-size: 50px;
        display: inline;
        position: absolute;
        height: 61px;
        top: -5px;
        left: -5px;
        width: 61px;
        border: 5px solid white;
        border-radius: 30px;
        line-height: 62px;
        padding-left: 1px;
        overflow: hidden;
        font-family: 'Apple Color Emoji';

        &:focus {
            outline: none;
        }
    }

    .card-text {
        font-family: 'Varela Round', sans-serif;
        overflow: hidden;
        background: black;
        color: white;
        border: none;
        margin: 1px 0px 0px 59px;
        padding: 0px;
        width: 210px;
        height: 51px;
        text-overflow: ellipsis;
        resize: none;
        font-size: 18px;
        line-height: 22px;

        &:focus {
            outline: none;
        }
    }

    .card-settings {
        display: block;
        height: 400px;
        width: 227px;
        background: #FFF;
        position: absolute;
        top: -200px;
        left: -244px;
        border: 1px #dfdfdf solid;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        color: #bbb;
        padding: 5px;
        font-size: 12px;
        margin-top: 5px;

        .btn {
            font-size: 18px;
            padding: 0px 6px;
        }

        .current-text {
            font-size: 14px;
            color: black;
            border-radius: 3px;
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5px 0px;
            width: 100%;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: calc( 50% + 10px);
            right: -11px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #FFF;
        }
    }

    .card-settings-emojipicker {
        height: 220px;
    }

    .colorList {
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            height: 29px;
            width: 15px;
            margin-right: 1px;
            border: 1px solid rgba(0,0,0,0.3);
            box-sizing: border-box;
            margin-bottom: 0;
            cursor: pointer;
        }
    }

    .card-buttons {
        text-align: right;
        margin-top: 7px;
    }
}

.emoji-wysiwyg-editor {
    display: none;
}
