body { 
	padding-top:30px; 
}
body, h1 {
	font-family: 'Varela Round', sans-serif;
}

#player {
	width: 640px;
	height:390px;
	position:relative;
}
#player-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height:355px;
	width: 640px;
	z-index:10;
}
.player-container {
	text-align: left;
  	margin-top: 20px;
  	position: relative;
  	display:none;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 194px;
  margin-top: 20px;
}