<div class="container">
<div class="editor">
    <div class="player-container" ng-mousemove="mouseTracker($event)">
        <div class="player-overlay" ng-click="pause()"></div>
        <div id="player"></div>
        <div is-draggable class="card animated draggable">
            <div class="card-emoji" style="background-color: {{emojiBgColor}}">{{selectedEmoji | colonToCode}}</div>
            <div class="card-settings animated" ng-hide="readOnly">
              <div><div class="card-close" ng-click="closeCard()">x</div></div>
              COLOR<br>
              <ul class="colorList">
                <li ng-repeat="color in colorList" style="background-color: {{color}}" ng-click="colorSelect(color)"></li>
              </ul>
              EMOJI<br>
              <div class="card-settings-emojipicker"></div>
              <div class="card-buttons">
                <button class="btn btn-danger-outline" ng-click="deleteCard()"><i class="fa fa-trash"></i></button>
                <button class="btn btn-success-outline" ng-click="saveCard()"><i class="fa fa-floppy-o"></i></button>
              </div>
            </div>
            <div emoji-form emoji-message="emojiMessage">
                <textarea id="messageInput"></textarea>
            </div>
            <input type="hidden" class="card-emoji-input"></input>
            <div class="card-text"><textarea autofocus ng-model="currentText" ng-trim="false" class="current-text large" ng-readonly="readOnly"></textarea></div>
        </div>
    </div>
    <div class="sidebar-wrap" ng-click="hideUserPanel()" ng-mouseleave="hideUserPanel()">
      <div class="sidebar-tab"><div class="tab-icon">&laquo;</div></div>
      <div class="sidebar">
        <div class="user-panel">
          <div class="divider"></div>
          <input type="text" ng-model="title" class="form-control form-inline form-title" ng-class="{'readOnly': !readOnly}" ng-readonly="readOnly">
          <div class="creator" ng-show="readOnly">by {{creator}}</div>
          <div ui-view="usermenu"></div>
        </div>
          <div class="sidebar-content" ng-repeat="card in cardIndex">
              <div class="sidebar-card animated fadeIn" ng-click="displayCard(card)">
                <div class="sidebar-card-emoji" style="background-color: {{card.bg}}">{{card.emoji | colonToCode}}</div>
                <div class="sidebar-card-text"><strong>{{card.time | secondsToDateTime | date:'mm:ss'}}</strong> {{card.text}}</div>
              </div>
          </div>
          <div class="sidebar-save"><button type="button" class="btn btn-success btn-block btn-save" ng-click="save()" ng-hide="readOnly">Save Video</button></div>
      </div>
    </div>
</div>
</div>

<div class="modal fade intro card-{{introStep}}" class="intro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="anim-wrap-wrap">
          <div class="anim-chrome"></div>
          <div class="anim-wrap" style="background: url('http://img.youtube.com/vi/{{video}}/hqdefault.jpg');">
            <div class="anim-pointer">
              <img src="http://tobiasahlin.com/static/cursors/pointer.png">
            </div>
            <div class="card intro-card">
              <div class="card-emoji">🐺</div>
              <div class="card-text">
                <textarea class="intro-text" readonly>Your Comment</textarea>
              </div>
            </div>
            <div class="sidebar intro-sidebar">
              <div class="sidebar-content">
                  <div class="sidebar-card">
                    <div class="sidebar-card-emoji" style="background-color: #7bd148">🐺</div>
                    <div class="sidebar-card-text"><strong>00:10</strong> comment one</div>
                  </div>
              </div>
              <div class="sidebar-content">
                  <div class="sidebar-card">
                    <div class="sidebar-card-emoji" style="background-color: #5484ed">👍</div>
                    <div class="sidebar-card-text"><strong>00:20</strong> comment two</div>
                  </div>
              </div>
              <div class="sidebar-content">
                  <div class="sidebar-card">
                    <div class="sidebar-card-emoji" style="background-color: #ffb878">🐶</div>
                    <div class="sidebar-card-text"><strong>00:30</strong> comment three</div>
                  </div>
              </div>
              <div class="sidebar-save"><button type="button" class="btn btn-success btn-block btn-save">Save Video</button></div>
            </div>
          </div>
          <div class="intro-save-field">
            <input type="text" class="form-control form-inline" value="http://popupvid.io/v/abc123" readonly></p>
          </div>
          <div class="intro-save-bubble bubble-1"><img src="/dist/img/icon_code.svg"></div>
          <div class="intro-save-bubble bubble-2"><img src="/dist/img/icon_conv.svg"></div>
          <div class="intro-save-bubble bubble-3"><img src="/dist/img/icon_dash.svg"></div>
        </div>
        <div class="modal-subpanel">
          <h1 class="card-one-text">Click to insert comment</h1>
          <h1 class="card-two-text">Use the sidebar to edit</h1>
          <h1 class="card-three-text">Save and share your video</h1>
          <hr class="modal-subpanel-hr">
          <div class="modal-subpanel-dismiss" ng-click="dismissForever()">
          DON'T SHOW AGAIN
          </div>
          <div class="modal-subpanel-next">
            <div ng-click="introNext()">{{introText}} <img src="dist/img/next.png"></div>
          </div>
          <div class="modal-subpanel-dots">
            <div class="dot" ng-click="introNext(1)"></div>
            <div class="dot" ng-click="introNext(2)"></div>
            <div class="dot" ng-click="introNext(3)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade save" class="save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Login to Save</h4>
      </div>
      <div class="modal-body">
        You're not currently logged in.  Would you like to login and save your video, or post it anonymously? <strong>You will not be able to edit an anonymously posted video after saving.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="saveAnonymously()">Post Anonymously</button>
        <div id="save-signin-button" ng-click="saveAfter()"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade saveDialog" class="saveDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File Saved</h4>
      </div>
      <div class="modal-body">
        <p>Your popupvid.io has been saved! Share it with others using this link:
        <input type="text" ng-model="savedUrl" class="form-control form-inline" readonly></p>
        <p>Or embed it using the code below:
        <input type="text" class="form-control form-inline" value='<iframe width="560" height="315" src="{{savedUrl}}" frameborder="0" allowfullscreen></iframe>' readonly></p>
      </div>
      <div class="modal-footer text-center">
        <a ng-href="{{savedUrl}}" target="_blank"><button type="button" class="btn btn-success">View Video</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Editing</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade username" class="username" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Set Your Username</h4>
      </div>
      <div class="modal-body">
        <p>
          You're logged in, but you haven't specified your username. Set one now to save your video.
        <p>
          <input type="text" class="form-control form-inline usernameInput" ng-model="usernameInput" ng-keypress="preventDefault($event)" placeholder="Your Username">
          <div class="alert alert-danger" ng-show="usernameAlert">{{usernameAlert}}</div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="userCheck()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade genericError" class="genericError" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-danger">Something went wrong. Sorry about that, details have been logged and we'll work on fixing it!</div>
        <div class="text-center">
          <a ng-href="/"><button type="button" class="btn btn-danger">Back to Homepage</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
